@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*{
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body {
  background: #edf1f5;
  color:#242B36;
}

svg{
  width: 20px;
  height: 20px;
  fill: #2e4ead;
}

.wrapper .top_navbar{
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
}

.wrapper .top_navbar .list-menu{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 11px 17px;
  cursor: pointer;
}

.wrapper .top_navbar .list-menu div{
  width: 35px;
  height: 5px;
  background: #fff;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 60px);
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  letter-spacing: 2px;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper .sidebar{
  position: fixed;
  top: 60px;
  background: #2e4ead;
  width: 200px;
  height: calc(100% - 60px);
  transition: all 0.3s ease-in-out;
}

.wrapper .sidebar ul li:first-child a.parent{
  margin-top: 20px;
}

.wrapper .sidebar ul li a{
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.wrapper .sidebar ul li a.parent{
  padding: 10px 10px;
}

.wrapper .sidebar .submenu{
  margin-left: 25px;
}

.wrapper .sidebar .submenu ul li a{

}

.icon svg{
  fill: #92a6e2
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 2px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


.wrapper .container-mikman{
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 5px;
  transition: all 0.5s ease;
}

.wrapper .container-mikman .content-mikman{
  padding: 15px;
  background: #fff;
  line-height: 22px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    WRAPPER COLLAPSE STYLE
----------------------------------------------------- */

.wrapper.collapses .sidebar{
  width: 70px;
}

.wrapper.collapses .sidebar ul li a span.icon{
  text-align: center;
  margin: 5px;
}

.wrapper.collapses .sidebar ul li a span.title{
  display: none;
  transition: all 0.3s ease-in-out;
}

.wrapper.collapses .container-mikman{
  width: calc(100% - 70px);
  margin-left: 70px
}

@media (max-width: 783px){
  .wrapper.collapses .sidebar{
    width: 69px;
  }
}


/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */

.container-luar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.form-container h1 {
	margin: 15px 0;
}

p.p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 5px;
  margin: 20px 0 30px
}

.form-container span {
	margin-bottom:30px;
}

a.forgot {
	margin-top: 30px;
}

a.forgot{
  color: #333;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0;
}


.container-login{
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 480px;
}

.form-container form{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container input{
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button.tombol{
  border-radius: 20px;
  border: 1px solid #242b36;
  background: #242b36;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  transition: all 0.3s ease-in;
  cursor: pointer;

}

button.tombol:hover{
  transform:scale(0.95)
}

button.tombol:focus{
  outline: none;
}

button.ghost{
  background: transparent;
  border-color: #fff;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signin-container{
  left: 0;
  width: 50%;
  z-index: 1;
}
/*
.overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay{
  background: #516673;
  background: linear-gradient(to right, #3a3659, #242b36) no-repeat 0 0 / cover;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;

}

.overlay-panel{
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  width: 50%;
  height: 100%;
  text-align: center;
  right: 0;
}

.container-login-s{
  width: 340px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 480px;
} */


  .container-login{
    width: 340px;
  }
