@import url('font-face.css');

*{
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a.normal{
  text-decoration: none;
  color: #fff;
	cursor: pointer;
}

.fa{
  color:#92a6e2
}

#notify .fa{
	color: #333333
}

#notify .fa.fa-times {
	z-index: 1;
	right: 12px;
	position: absolute;
	top: 6px;
	cursor: pointer;
}

body {
  background: #edf1f5;
  color:#242B36;
  font-weight: 300;
}

svg{
  width: 20px;
  height: 20px;
  fill: #2e4ead;
}

.wrapper .top_navbar{
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
	z-index: 2
}

.wrapper .top_navbar .list-menu{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 11px 17px;
  cursor: pointer;
}

.wrapper .top_navbar .list-menu div{
  width: 35px;
  height: 5px;
  background: #fff;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 60px);
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper .sidebar{
  position: fixed;
  top: 60px;
  background: #2e4ead;
	font-weight: 50;
  width: 200px;
  height: calc(100% - 60px);
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  touch-action: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.wrapper .sidebar::-webkit-scrollbar {
    display: none;
}

.wrapper .sidebar ul li:first-child a.parent{
  margin-top: 20px;
}

.wrapper .sidebar ul li a{
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.wrapper .sidebar ul li a.parent{
  padding: 10px 10px;
}

.wrapper .sidebar .submenu{
  margin-left: 25px;
}

.wrapper .sidebar .submenu li a{
  padding: 10px
}

.icon svg{
  fill: #92a6e2
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 2px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

/* .wrapper .sidebar .submenu li a.active{

} */

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


.wrapper .container-mikman{
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 5px 15px;
  transition: all 0.5s ease;
}

.wrapper .container-mikman .content-mikman{
  padding: 15px;
  background: #fff;
  line-height: 22px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    WRAPPER COLLAPSE STYLE
----------------------------------------------------- */

.wrapper.collapses .sidebar{
  width: 70px;
}

.wrapper.collapses .sidebar ul li a span.icon{
  text-align: center;
  margin: 5px;
}

.wrapper.collapses .sidebar ul li a span.title{
  display: none;
  transition: all 0.3s ease-in-out;
}

.wrapper.collapses .container-mikman{
  width: calc(100% - 70px);
  margin-left: 70px
}

.wrapper.collapses .sidebar .submenu{
  margin-left: 10px;
}

@media (max-width: 783px){
  .wrapper.collapses .sidebar{
    width: 69px;
  }
}


/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */

.container-luar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.form-container h1 {
	margin: 15px 0;
}

p.p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 5px;
  margin: 20px 0 30px
}

.form-container span {
	margin-bottom:30px;
}

a.forgot {
	margin-top: 30px;
}

a.forgot{
  color: #333;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0;
}


.container-login{
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 480px;
}

.form-container form{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container input{
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button.tombol{
  border-radius: 20px;
  border: 1px solid #242b36;
  background: #242b36;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  transition: all 0.3s ease-in;
  cursor: pointer;

}

button.tombol:hover{
  transform:scale(0.95)
}

button.tombol:focus{
  outline: none;
}

button.ghost{
  background: transparent;
  border-color: #fff;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signin-container{
  left: 0;
  width: 50%;
  z-index: 1;
}
.container-login{
  width: 340px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.ikon{
  font-size: 2.5em
}

/*  MENU UNDER */

.menu-under-responsive{
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

pre{
  position: absolute;
  z-index: 2;
}

#preloader5{
    position:relative;
    width:30px;
    height:30px;
    background:#3498db;
    border-radius:50px;
    animation: preloader_5 1.5s infinite linear;
}
#preloader5:after{
    position:absolute;
    width:50px;
    height:50px;
    border-top:10px solid #9b59b6;
    border-bottom:10px solid #9b59b6;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-radius:50px;
    content:'';
    top:-20px;
    left:-20px;
    animation: preloader_5_after 1.5s infinite linear;
}
@keyframes preloader_5 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);background:#2ecc71;}
    100% {transform: rotate(360deg);}
}
@keyframes preloader_5_after {
    0% {border-top:10px solid #9b59b6;border-bottom:10px solid #9b59b6;}
    50% {border-top:10px solid #3498db;border-bottom:10px solid #3498db;}
    100% {border-top:10px solid #9b59b6;border-bottom:10px solid #9b59b6;}
}

@media (min-width:768px) and (max-width:1146px){
	.ikon{
		margin: 2px;
	}
}

@media (max-width:417px){
	.ikon{
		font-size: 2.1rem;
		padding-left: 5px;
	}
}

table.t-info tr td:nth-child(2){
	padding: 0 5px;
}

.card-body{
	overflow: auto;
}

.bg-primary{
	background-color: #315AD5!important;
}

#notify {
	display: block;
	position: fixed;
	z-index: 2;
	margin-top: -11px;
	transition: all .5s;
	right: 15px;
	height: 100px;
	width: 300px;
}

#notify .msg{
	padding: 13px 34px;
	color: #333333;
	font-weight: 500;
	line-height: 35px;
}

#notify .msg.success {
	background-color: #AFF29A;
}

#notify .msg.info {
	background-color: #7195FF;
}

#notify .msg.warning {
	background-color: #FFDD57;
}

#notify .msg.error {
	background-color: #FF5757;
}

@media screen and (max-width: 780px) {
	.table-responsive{
		overflow-y: scroll;
	}
}
