@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    /* border-bottom: 1px dashed #ddd; */
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}





/* LOGIN */


.container-luar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.form-container h1 {
	margin: 15px 0;
}

p.p{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 5px;
  margin: 20px 0 30px
}

.form-container span {
	margin-bottom:30px;
}

a.forgot {
	margin-top: 30px;
}

a.forgot{
  color: #333;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0;
}


.container-login{
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 480px;
}

.form-container form{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container input{
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button.tombol{
  border-radius: 20px;
  border: 1px solid #242b36;
  background: #242b36;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  transition: all 0.3s ease-in;
  cursor: pointer;

}

button.tombol:hover{
  transform:scale(0.95)
}

button.tombol:focus{
  outline: none;
}

button.ghost{
  background: transparent;
  border-color: #fff;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signin-container{
  left: 0;
  width: 50%;
  z-index: 1;
}

.overlay-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay{
  background: #516673;
  background: linear-gradient(to right, #3a3659, #242b36) no-repeat 0 0 / cover;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;

}

.overlay-panel{
  color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  width: 50%;
  height: 100%;
  text-align: center;
  right: 0;
}

.container-login-s{
  width: 340px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 480px;
}

@media screen and (max-width: 824px) {
  .overlay-container{
    display: none;
  }
  .container-login{
    width: 340px;
  }

}
